<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div id="content">
    <img src="../public/img/logo.png" alt="">
    <h1>SIGN IN</h1>
    <form class="" action="" method="post">
      <div class="field">
        <div class="control">
          <input type="text" name="username" placeholder="username">
        </div>
      </div>
      <input type="password" name="password" placeholder="password">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-text">or signup here</button>
        </div>
        <div class="control">
          <button class="button is-link">Login</button>
        </div>
      </div>

    </form>
  </div>
</body>

</html>
